.media-left {
  padding-left: 10px;
}
#media-sub {
  width: 100%;
  height: 300px;
}
#sub-control {
  padding-top: 10px;
  /* width: 60%; */
  height: 300px;
  overflow: scroll;
}
.sub-item:hover {
  background-color: rgba(250, 235, 215, 0.299);
  cursor: pointer;
}
.txt-10-pc {
  width: 6%;
}
.yt-sub {
  height: 95vh;
}
.yt-sub,
.yt-sub input {
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: 'Courier New', Courier, monospace; */
}
#vd-control {
  position: relative;
  float: right;
}
#mobile-control {
  /* height: 120px; */
}
