#btnPract {
  margin-left: 10px;
}
#answer {
  font-size: 18px;
  width: 50%;
  height: 25px;
  border: 1px solid #2b2b2b;
  text-align: center;
  background-color: transparent;
  border-top-style: hidden !important;
  border-right-style: hidden !important;
  border-left-style: hidden !important;
}

#answer:focus {
  outline: none;
}

.btn-prac {
  background-color: rgb(252, 244, 210) !important;
  box-shadow:
    rgba(173, 143, 9, 0.2) 0 -25px 18px -14px inset,
    rgba(173, 143, 9, 0.15) 0 1px 2px,
    rgba(173, 143, 9, 0.15) 0 2px 4px,
    rgba(173, 143, 9, 0.15) 0 4px 8px,
    rgba(173, 143, 9, 0.15) 0 8px 16px,
    rgba(173, 143, 9, 0.15) 0 16px 32px !important;
  width: 25% !important;
  margin-left: 20px;
}

.msg {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 30px;
  color: #1c771c;
  margin-top: 10px;
  margin-bottom: 10px;
}

.prac {
  border: 3px solid #020202;
  text-align: center;
}
.dark-90 .prac {
  border: 3px solid #ffffff;
}

#btnHideWhenPrac {
  width: 25px;
}

.prac {
  margin: 15px 15px 15px 15px;
  padding: 15px 15px 15px 15px;
}
.ans-check-right {
  color: #76c29c;
}
.ans-check-wrong {
  color: rgb(200, 150, 150);
}
.ans-check-hint {
  color: rgb(215, 174, 6) !important;
}
#txtField {
  height: 95%;
  border: 2px dashed #d1c7ac;
  width: 100%;
}
.listen-prac #answer {
  width: 80% !important;
  font-size: 14px;
}
