.title-board {
  font-weight: bold;
}
.hide-ai .ai-pract {
  display: none;
}
.response-ai {
  /* height: 400px; */
  /* width: 100%; */
  overflow-y: scroll;
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  background: #fffcfc;
  font-size: 13px;
}

.ai-promt {
  border-radius: 5px;
  width: 100%;
}
.my-quest {
  color: rgb(51, 6, 6);
  border-radius: 3px;
  background-color: #ecececc2;
  text-align: left;
  padding: 10px;
  margin-left: 20%;
}

.dark-90 .my-quest {
  color: rgb(226, 226, 226);
  background-color: #444444;
}

.response-ai pre {
  background-color: #e2dbdb8a;
  color: #000000;
  font-family: 'Courier New', Courier, monospace;
}

.ai-session {
  height: 800px;
  width: 90%;
}

.dark-90 .response-ai {
  background-color: #333232;
  color: #ddd;
}
.button-stack {
  display: flex;
  flex-direction: column;
}

.button-stack button {
  width: 26px;
  height: 18px;
}
